@model CommentCreateViewModel

<div class="container mt-5">
    <div class="row mt-4 col-12 mb-4 p-4 d-flex justify-content-center align-items-stretch flex-fill crud-thread">
        <div class="row mt-4 col-12 mb-4 p-4 crud-container">
        
            <div class="container crud-comment-info">
                <h1> You're replying to: </h1>
                @await Html.PartialAsync("_ThreadView", @Model.Thread)
                @if(@Model.Comment != null){ <p>
                    Posted by <b>@Model.ParentComment?.User.UserName</b> on @Model.ParentComment?.CommentCreatedAt
                    @if (@Model.ParentComment?.CommentCreatedAt != @Model.ParentComment?.CommentLastEditedAt)
                    {
                        <b> Last edited: @Model.ParentComment?.CommentLastEditedAt</b>
                    }
                    </p>
                    <p> Comment: @Model.ParentComment?.CommentBody </p>
                }
            </div>
        </div>
    </div>
</div>



<div class="form">
    <h2 class="crud-title"> Create a reply </h2>
    @using (Html.BeginForm("Save", "Comment", FormMethod.Post))
    {
        <form asp-controller="Comment" asp-action="Create">
            <input type="hidden" asp-for="Comment.ThreadId" value="@Model.Thread.ThreadId" />
            <input type="hidden" asp-for="Comment.ParentCommentId" value="@Model.ParentComment?.CommentId" />

            <div class="form-group">
                <label asp-for="Comment.CommentBody"></label><span class="text-danger"></span>
                <input asp-for="Comment.CommentBody" class="form-control"/>
                <span asp-validation-for="Comment.CommentBody" class="text-danger"></span>
            </div>

            <input type="submit" value="Post reply" class="btn btn-primary" onclick="location.href='@Url.Action("Save", "Comment")'" />
            <a asp-controller="Thread" asp-action="Thread" asp-route-threadId="@Model.ThreadId" class="btn btn-secondary"> Return </a>
        </form>}
</div>

