
@model CommentCreateViewModel
<h1> Creating reply for: </h1>
<h1>Thread ID: @Model.Thread.ThreadId</h1>
<h1>Comment ID: @Model.ParentComment?.CommentBody</h1>

@* <p> Thread: @(Model.Thread != null ? Model.Thread.ThreadTitle : "Thread not found")</p> *@
<p> Thread: @Model.ParentComment?.Thread?.ThreadTitle</p>
<p> Comment: @Model.ParentComment?.CommentBody </p>
<h2> Create a reply </h2>

@using (Html.BeginForm("Save","Comment",FormMethod.Post))

{<form asp-controller="Comment" asp-action="Create">
    <input type="hidden" asp-for="Comment.ThreadId" value="@Model.Thread.ThreadId" />
    <input type="hidden" asp-for="Comment.ParentCommentId" value="@Model.ParentComment?.CommentId" />

    <div class="form-group">
        <label asp-for="Comment.CommentBody"></label><span class="text-danger"></span>
        <input asp-for="Comment.CommentBody" class="form-control"/>
        <span asp-validation-for="Comment.CommentBody" class="text-danger"></span>
    </div>

    <input type="submit" value="Post reply" class="btn btn-primary" onclick="location.href='@Url.Action("Save", "Comment")'" />
    <a asp-controller="Thread" asp-action="Thread" asp-route-threadId="@Model.ThreadId" class="btn btn-secondary"> Return </a>
</form>}