@using Microsoft.AspNetCore.Identity
@model CommentCreateViewModel
@inject UserManager<ApplicationUser> UserManager


@{
    string userId = UserManager.GetUserId(User);
}
<div class="container mt-5">
    <div class="row mt-4 col-12 mb-4 p-4 d-flex justify-content-center align-items-stretch flex-fill crud-thread">
        <div class="row mt-4 col-12 mb-4 p-4 crud-container">
            <div class="container crud-comment-info">
                @if (@Model.CommentToEdit.UserId == userId)
                {
                    <h1> You're editing your comment: </h1>
                }
                else
                {
                    <h1> You're editing @Model.CommentToEdit.User.UserName's comment: </h1>
                }

                @* <p> Thread: @(Model.Thread != null ? Model.Thread.ThreadTitle : "Thread not found")</p> *@
                @* <p> Thread: @Model.ParentComment?.Thread?.ThreadTitle</p> *@
                <p>
                    Posted by <b>@Model.CommentToEdit.User.UserName</b> on @Model.CommentToEdit?.CommentCreatedAt
                    @if (@Model.CommentToEdit?.CommentCreatedAt != @Model.CommentToEdit?.CommentLastEditedAt)
                    {
                        <b> Last edited: @Model.CommentToEdit?.CommentLastEditedAt</b>
                    }
                </p>
                <p> Comment: @Model.CommentToEdit?.CommentBody </p>
            </div>
        </div>


        <h2 class="crud-title"> Edit your reply </h2>

        <div class="form">
            @using (Html.BeginForm("SaveEdit", "Comment", FormMethod.Post))

            {
                <form asp-controller="Comment" asp-action="Create">
                    <input type="hidden" asp-for="Comment.CommentId" value="@Model.CommentToEdit.CommentId" />

                    <div class="form-group">
                        <label asp-for="Comment.CommentBody">New, edited comment:</label><span class="text-danger"></span>
                        <input asp-for="Comment.CommentBody" class="form-control" value="@Model.CommentToEdit.CommentBody" />
                        <span asp-validation-for="Comment.CommentBody" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between">
                        <input type="submit" value="Post reply" class="btn btn-primary crud-button-primary" onclick="location.href='@Url.Action("SaveEdit", "Comment")'" />
                        <a asp-controller="Thread" asp-action="Thread" asp-route-threadId="@Model.ThreadId" class="btn btn-secondary crud-button-secondary"> Return </a>
                    </div>
                           
            </form>
            }
        </div>
    </div>
</div>
