@model diskusjonsforum.ViewModels.ThreadListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/IndexStyle.css" asp-append-version="true"/>

<div class="container">
    <input name="PostText" class="form-control" placeholder="Create Post" type="text" onclick="redirectToCreatePage()">
</div>

<script>
    // Redirect the user to the "create" page when the input is clicked
    function redirectToCreatePage() {
        window.location.href = "/Thread/Create";
    }
</script>

<br/>

<div class="container">
    <h4>Recent posts:</h4>
</div>

<div class="container">
    <div class="row">
        @foreach (var thread in Model.Threads.OrderByDescending(t => t.ThreadCreatedAt).Take(6))
        {
            <div class="col-md-6">
                <a asp-controller="Thread" asp-action="Thread" asp-route-threadID="@thread.ThreadId">
                    <div class="post">
                        <div class="user"> <p>posted by: @thread.User.UserName</p></div>
                        <div class="title">@thread.ThreadTitle</div>
                        <div class="content">@thread.ThreadBody</div>
                        <div class="comments">Comments: @thread.ThreadComments?.Count</div>
                    </div>
                </a>
                <p></p>
            </div>
        }
    </div>
</div>
