@model ThreadListViewModel
<!-- <a href="/ThreadThread/Grid">Grid View</a> -->
<link rel="stylesheet" href="~/css/IndexStyle.css" asp-append-version="true"/>

<h3> Explore discussions</h3>
@*<div class="container">
    <input name="PostText" class="form-control" placeholder="Create Post" type="text" onclick="redirectToCreatePage()">
</div>

<script> // Redirect the user to the "create" page when the input is clicked
    function redirectToCreatePage() {
        window.location.href = "/Thread/Create";
    }
</script>
Er dette feil (siden det en input-boks, men fungerer som en knapp)?
*@

<a class="btn btn-primary" asp-controller="Thread" asp-action="Create"> Create post </a>

<br/>
    
<div class="container">
        <div class="row">
            @foreach (var thread in Model.Threads.OrderByDescending(t => t.ThreadCreatedAt))
            {
                <div class="post">
                    <a asp-controller="Thread" asp-action="Thread" asp-route-threadID="@thread.ThreadId">
                    <div class="category">@thread.CategoryName</div>
                    <div class="user">@thread.User.UserName</div>
                    <div class="title">
                        <a asp-controller="Thread" asp-action="Thread" asp-route-threadID="@thread.ThreadId">@thread.ThreadTitle</a>
                    </div>
                    <div class="comments">Comments: @thread.ThreadComments?.Count</div>
                    </a>
                </div>
                    <p></p>
            }
            
        </div>
    </div>