@using System.Security.Principal
@model Diskusjonsforum.Models.Thread

<h1> @Model.ThreadTitle</h1>
<p> Posted in @Model.ThreadCategory </p>
<p> by @Model.User.Name on  @Model.ThreadCreatedAt.  
    @if (@Model.ThreadCreatedAt != @Model.ThreadLastEditedAt)
    { <b> Last edited at @Model.ThreadLastEditedAt </b> } </p>
<p> @Model.ThreadBody </p>
<a class="btn btn-primary" asp-controller="Comment" asp-action="Create" asp-route-threadId="@Model.ThreadId"> Reply to Thread @Model.ThreadId </a>

<h2> Comments </h2>
<ul>
    @foreach (var comment in Model.ThreadComments.Where(c=> c.ParentCommentId == null))
    {
        DisplayComment(comment);
        
    }
</ul>
    
    
    @functions {

        async Task DisplayComment(Comment comment)
        {
                <div style="border: 2px solid black; padding: 2px">
                    <p> Posted by @comment.User.Name on @comment.CommentCreatedAt. 
                        @if (comment.CommentCreatedAt != comment.CommentLastEditedAt)
                        {<b> Last edited at @comment.CommentLastEditedAt.</b>} </p>
                    <p> @comment.CommentBody</p>

                    <!-- også ren chatgpt. vi bør kanskje finne kilde på nett -->
                    @* <a class="btn btn-primary" href="/Comment/Create?thread=@Model.ThreadId&comment=@comment.CommentId"> Reply to comment @comment.CommentId </a> *@
                    @* <a class="btn btn-primary" asp-controller="Comment" asp-action="Create" asp-route-commentId="@comment.CommentId" asp-route-threadId="@Model.ThreadId"> Reply to comment @comment.CommentId </a> *@
                    <a class="btn btn-primary" asp-controller="Comment" asp-action="Create" asp-route-commentId="@comment.CommentId" asp-route-threadId="@comment.ThreadId"> Reply to comment @comment.CommentId </a>
                    <a class="btn btn-primary" asp-controller="Comment" asp-action="Edit" asp-route-commentId="@comment.CommentId" asp-route-threadId="@comment.ThreadId"> Edit this reply with ID @comment.CommentId </a>
                    
                    

                    
                    @foreach (var child in Model.ThreadComments.Where(c => c.ParentCommentId == comment.CommentId))
                    {
                        DisplayComment(child);
                    }
                </div>
        }
    }
