@model Diskusjonsforum.Models.Thread

<h1> @Model.ThreadTitle</h1>
<p> Posted in @Model.ThreadCategory </p>
<p> by @Model.User on  @Model.ThreadCreatedAt. </p>
<p> @Model.ThreadBody </p>
<p>
            <a class="btn btn-secondary"
               asp-controller="Comment"
               asp-action="Create"> reply </a>
        </p>

<h2> Comments </h2>
<ul>
    @foreach (var comment in Model.ThreadComments.Where(c=> c.ParentCommentId == null))
    {
        DisplayComment(comment);
        
    }
</ul>
    
    
    @functions {

        void DisplayComment(Comment comment)
        {
                <div style="border: 2px solid black; padding: 2px">
                    <p> Posted by @comment.User on @comment.CommentCreatedAt </p>
                    <p> @comment.CommentBody</p>

                    <!-- også ren chatgpt. vi bør kanskje finne kilde på nett -->
                    <a href="#" class="btn-secondary" data-parent-comment-id="@comment.CommentId"> Reply </a>

                    @foreach (var child in Model.ThreadComments.Where(c => c.ParentCommentId == comment.CommentId))
                    {
                        DisplayComment(child);
                    }
                </div>
        }
    }
