@model diskusjonsforum.Models.Thread

<h1> @Model.Title</h1>
<p> Posted in @Model.Category </p>
<p> by @Model.CreatedBy on  @Model.CreatedAt. </p>

<h2> Comments </h2>
<ul>
    @foreach (var comment in Model.Comments.Where(c=> c.ParentCommentId == null))
    {
        DisplayComment(comment);
    }
</ul>
    
    
    @functions {

        void DisplayComment(Comment comment)
        {
                <div style="border: 2px solid black; padding: 2px">
                    <p> Posted by @comment.CreatedBy on @comment.CreatedAt </p>
                    <p> @comment.Body</p>

                    <!-- også ren chatgpt. vi bør kanskje finne kilde på nett -->
                    <a href="#" class="btn-secondary" data-parent-comment-id="@comment.CommentId"> Reply </a>

                    @foreach (var child in Model.Comments.Where(c => c.ParentCommentId == comment.CommentId))
                    {
                        DisplayComment(child);
                    }
                </div>
        }
    }
