@using Microsoft.AspNetCore.Identity
@model UserListViewModel
@inject UserManager<ApplicationUser> UserManager


<h1>List of users (@Model.CurrentViewName Name)</h1>

<div class="container">
    <table class="table table-striped">
        <tr><th>UserName</th><th>ID</th><th>Email</th><th>EmailConfirmed</th><th>AdminRole</th></tr>
        @foreach (var user in Model.Users)
        {
            bool userIsAdmin = false;
            if (@user.Id != null)
            {
                userIsAdmin = await UserManager.IsInRoleAsync(await UserManager.FindByIdAsync(@user.Id), "Admin");
            }

            <tr>
                <td>@user.UserName</td>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.EmailConfirmed</td>
                <td>@if (userIsAdmin)
                         {
                             <p> Admin </p>
                         }
                         else
                         {
                             <p> No </p>
                         }</td>
            </tr>
            }
    </table>
</div>